@mixin gradient-text($angle: 90deg, $colors...) {
    background: linear-gradient($angle, $colors...);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}